# Ignore all virtual environment folders
**/.venv/

# Ignore the Outputs directory in not-to-release
not-to-release/Outputs/

# Ignore pycache files
**/__pycache__/

# Ignore files added by grew_match_quick
**/_build_grew/